			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2>
          <a class="navbar-brand{{ if .IsHome }} active{{ end }}" href="{{ absLangURL "" }}">
            {{ partial "helpers/image" (dict "filename" (default "images/logo.webp" .Site.Params.logo) "alt" "Logo" "class" "logo" "resources" .Resources) }}
            {{- with .Site.Params.brand -}}
            {{ . }}
            {{- end -}}
          </a></h2>
						<p>The best way to build your wealth is to invest wisely.Keep up with the latest on Personal Finance with informative blogs on Wealth, Investment, Money Management, Retirement Planning, Tax-Saving and much more.</p>
					</div>
					<div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
						<h2 class="footer-heading">Quick Links</h2>
            {{- partial "footer/footer-nav" . -}}
					</div>
					<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
						<h2 class="footer-heading">Follow Us</h2>
						<div class="block-23 mb-3">
              {{- partial "footer/social-links" . -}}
            </div>
					</div>
				</div>
			</div>

    