{{- $alt := .PlainText | safeHTML -}}
{{- $lazyLoading := .Page.Site.Params.enableImageLazyLoading | default true -}}
{{- $enableImageZoom := .Page.Site.Params.imageZoom.enable | default false -}}
{{- if not (eq .Page.Params.imageZoom nil) -}}
  {{- $enableImageZoom = .Page.Params.imageZoom -}}
{{- end -}}
{{- $dest := .Destination -}}
{{- $url := urls.Parse $dest -}}

{{- $isLocal := not $url.Scheme -}}
{{- $isPage := and (eq .Page.Kind "page") (not .Page.BundleType) -}}
{{- $startsWithSlash := hasPrefix $dest "/" -}}
{{- $startsWithRelative := or (hasPrefix $dest "../") (hasPrefix $dest "./") -}}

{{- if and $dest $isLocal -}}
  {{- if $startsWithSlash -}}
    {{- with or (.PageInner.Resources.Get $url.Path) (resources.Get $url.Path) -}}
      {{/* Images under assets directory */}}
      {{- $query := cond $url.RawQuery (printf "?%s" $url.RawQuery) "" -}}
      {{- $fragment := cond $url.Fragment (printf "#%s" $url.Fragment) "" -}}
      {{- $dest = printf "%s%s%s" .RelPermalink $query $fragment -}}
    {{- else -}}
      {{/* Images under static directory */}}
      {{- $dest = (relURL (strings.TrimPrefix "/" $dest)) -}}
    {{- end -}}
  {{- else -}}
    {{/* Resolve page bundle resource */}}
    {{- with .PageInner.Resources.Get (strings.TrimPrefix "./" $url.Path) -}}
      {{- $query := cond $url.RawQuery (printf "?%s" $url.RawQuery) "" -}}
      {{- $fragment := cond $url.Fragment (printf "#%s" $url.Fragment) "" -}}
      {{- $dest = printf "%s%s%s" .RelPermalink $query $fragment -}}
    {{- else -}}
      {{- if or (hasPrefix $dest "images/") (not $startsWithRelative) -}}
        {{- $dest = (relURL (strings.TrimPrefix "/" $dest)) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $attributes := "" -}}
{{- range $key, $value := .Attributes -}}
  {{- if $value -}}
    {{- $pair := printf "%s=%q" $key ($value | transform.HTMLEscape) -}}
    {{- $attributes = printf "%s %s" $attributes $pair -}}
  {{- end -}}
{{- end -}}

{{- if $enableImageZoom -}}
  {{- .Page.Store.Set "hasImageZoom" true -}}
{{- end -}}

{{- with .Title -}}
  <figure class="hx:my-6">
    <img src="{{ $dest | safeURL }}" title="{{ . }}" alt="{{ $alt }}" {{ $attributes | safeHTMLAttr }}{{ if $enableImageZoom }} data-zoomable{{ end }}{{ if $lazyLoading }} loading="lazy"{{ end }} class="hx:rounded-xl hx:border hx:border-neutral-200/80 hx:dark:border-neutral-800/80" />
    <figcaption class="hx:mt-2 hx:text-center hx:text-sm hx:text-gray-500 hx:dark:text-gray-400">{{ . }}</figcaption>
  </figure>
{{- else -}}
  <img src="{{ $dest | safeURL }}" alt="{{ $alt }}" {{ $attributes | safeHTMLAttr }}{{ if $enableImageZoom }} data-zoomable{{ end }}{{ if $lazyLoading }} loading="lazy"{{ end }} class="hx:my-6 hx:rounded-xl hx:border hx:border-neutral-200/80 hx:dark:border-neutral-800/80" />
{{- end -}}
