---
title: How to Start Investing in Stocks
layout: default
locale: hi
image: assets/images/fincz-default-image.png
excerpt: "Best Blog For Business and Investment Tips for Share market, Online Earning, Loans, Credit Cards, Insurance Etc."
permalink: "/hindi/"
---

<!-- Home Intro
================================================== -->
{% if page.url == "/hindi/" %} 
<div class="rounded mb-5">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4">शेयर मार्केट में इन्वेस्टमेंट कैसे करें</h1>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="500" src="{{site.baseurl}}/assets/images/intro.svg" alt="Stock Introduction">      
    </div>
  </div>
</div>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.locale == 'hi' %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% for post in paginator.posts %}
      {% if post.locale == 'en' %}
        {% unless post.featured == true %}
        <div class="col-md-6 mb-5">
          {% include postbox.html %}
        </div>
        {% endunless %}
      
      {% endif %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>
