<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2790_RC04/embed_loader.js"></script> 

<h2>Web</h2>
1. Related Topics

<script type="text/javascript"> trends.embed.renderExploreWidget("RELATED_TOPICS", {"comparisonItem":[{"geo":"IN","time":"today 1-m"}],"category":7,"property":""}, {"exploreQuery":"cat=7&date=today%201-m&geo=IN","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>
2. Related Queries
<script type="text/javascript"> trends.embed.renderExploreWidget("RELATED_QUERIES", {"comparisonItem":[{"geo":"IN","time":"today 1-m"}],"category":7,"property":""}, {"exploreQuery":"cat=7&date=today%201-m&geo=IN","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>

<h2>Youtube</h2>
1. Related Topics
<script type="text/javascript"> trends.embed.renderExploreWidget("RELATED_TOPICS", {"comparisonItem":[{"geo":"IN","time":"today 1-m"}],"category":7,"property":"youtube"}, {"exploreQuery":"cat=7&date=today%201-m&geo=IN&gprop=youtube","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>
2. Related Queries
<script type="text/javascript"> trends.embed.renderExploreWidget("RELATED_QUERIES", {"comparisonItem":[{"geo":"IN","time":"today 1-m"}],"category":7,"property":"youtube"}, {"exploreQuery":"cat=7&date=today%201-m&geo=IN&gprop=youtube","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>

